[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "ThirdParty/promise.hpp"]
	path = ThirdParty/promise.hpp
	url = https://github.com/BlackMATov/promise.hpp.git
[submodule "ThirdParty/range-v3"]
	path = ThirdParty/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "ThirdParty/curl"]
	path = ThirdParty/curl
	url = https://github.com/curl/curl.git
[submodule "ThirdParty/physfs"]
	path = ThirdParty/physfs
	url = https://github.com/icculus/physfs.git
[submodule "ThirdParty/zlib-ng"]
	path = ThirdParty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "ThirdParty/continuable"]
	path = ThirdParty/continuable
	url = https://github.com/Naios/continuable.git
[submodule "ThirdParty/function2"]
	path = ThirdParty/function2
	url = https://github.com/Naios/function2.git
[submodule "ThirdParty/asyncplusplus"]
	path = ThirdParty/asyncplusplus
	url = https://github.com/Amanieu/asyncplusplus.git
[submodule "ThirdParty/Blaze"]
	path = ThirdParty/Blaze
	url = https://github.com/maksym-pasichnyk/Blaze.git
[submodule "ThirdParty/co_lib"]
	path = ThirdParty/co_lib
	url = https://github.com/dmitryikh/co_lib.git
[submodule "ThirdParty/magic_enum"]
	path = ThirdParty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
