[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "stl"]
	path = stl
	url = https://github.com/max-pasichnyk/stl
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "FastNoise2"]
	path = FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "entt"]
	path = entt
	url = https://github.com/skypjack/entt.git
[submodule "promise.hpp"]
	path = promise.hpp
	url = https://github.com/BlackMATov/promise.hpp.git
